* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.tab-pane {
  color: aliceblue;
  background-color: rgba(6, 42, 141, 0.63);
}

.list-overflow {
  background: rgba(223, 167, 13, 0);
  max-height: 300px;
  overflow:scroll;
  overflow-x: hidden;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(157, 168, 231, 0.877);
}

/*  CARD OFFER STYLE */
.card-deck {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-left: 25%;
}

.card-offer {
  background-color: rgba(255, 255, 255, 0.877);
  max-height: 220px;
}

.card-offer>.card-body{
  overflow:scroll;
  overflow-x: hidden;
}
/* ------------------------------ */

/* CHAT */
.message {
  border-color:grey; 
  background:rgba(0, 0, 0, 0.493);
}

.chat-title-users-connected {
  position: absolute;
  right: 0;
  margin-right: 15px;
}
