* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.tab-pane {
  color: aliceblue;
  background-color: rgba(6, 42, 141, 0.63);
}

.nav-item.nav-link {
  text-emphasis: initial;
  color: black;
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0);
  margin-right: 10px;
}

.nav-item.nav-link:hover {
  border: 2px solid;
  border-radius: 20px;
}

.nav-item.nav-link.active {
  border-radius: 10px;
  background-color: rgb(127, 172, 255);
}

.list-overflow {
  background: rgba(223, 167, 13, 0);
  max-height: 300px;
  overflow:scroll;
  overflow-x: hidden;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(157, 168, 231, 0.877);
}

/*  CARD OFFER STYLE */
.card-offer {
  background-color: rgba(255, 255, 255, 0.877);
  max-height: 220px;
  max-width: 250px;
  flex: 0 0 auto;
  border-radius: 20px;
  margin: 10px;
}

.card-offer>.card-body{
  overflow:scroll;
  overflow-x: hidden;
} 

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
/* ------------------------------ */

/* CHAT */
.message {
  border-color:grey; 
  background:rgba(0, 0, 0, 0.493);
}

.chat-title-users-connected {
  position: absolute;
  right: 0;
  margin-right: 15px;
}

#chat-messages {
  padding: 0;
}
#button-send-message {
  background-color: aliceblue;
}
#button-send-message:hover {
  color: aliceblue;
  background-color: rgba(33, 31, 66, 0.877);
}
/* ------------------------------ */

/* SEARCH MAP */
.mapboxgl-ctrl-geocoder {
  display: none;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 10px;
  position: fixed;
  left: 20px;
  font-size: 14px;
}
.mapboxgl-ctrl-geocoder li {
  color: rgb(34, 33, 33);
  list-style: none;
  padding-left: 10px;
  padding-top: 10px;
}
.mapboxgl-ctrl-geocoder li:hover{
  background-color: rgba(90, 84, 194, 0.877);
  color: white;
}
.mapboxgl-ctrl-geocoder input {
  border: 0;
  padding-left: 10px;
}
.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}
.mapboxgl-ctrl-geocoder--suggestion-address {
  font-style: italic;
}
.mapboxgl-ctrl-geocoder--icon-loading {
  display: none;
}
/* -------------------------------------------- */


/* MOBILE */

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media screen and (max-width: 575px), (orientation: portrait) {
  .tab-pane {
    position: absolute;
    width: 85vw;
    z-index: 2;
    margin: 4vw;
  }

  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }
  
  .scrolling-wrapper {
    margin-top: 0;
    margin-left: 0;
  }
}